{% extends 'parent.html.twig' %}

{% block title %}Hello TeacherController!{% endblock %}

{% block body %}
{% block main %}

<h2 class="text-center" >Note de {{ studentInfos.lastName |capitalize}} {{ studentInfos.firstName |capitalize}} </h2>
       <table class="table table-striped">
            <tr>
                <th>Matiere</th>
                <th>Note</th>
                <th>Action</th>
                
            
            </tr>
            {% for grade in studentInfos.grade %}
            <tr>

                
                <td><a href="{{ path('grade_details', { 'id': grade.id }) }}">{{grade.subject.subjectName}} </a></td>
                <td>{{ grade.value }} </td>
                <td> 
                    <a href="{{ url('edit_grade', { id:grade.id}) }}" class="btn btn-info" >Modifier</a>
                    <a href="{{ url('delete_grade', { id:grade.id}) }}" class="btn btn-danger" >Supprimer</a>
                    
                </td>
               

                
            </tr>
            {% endfor %}
        

        
        </table>
       


{% endblock%}
{% endblock %}
