{% extends 'parent.html.twig' %}

{% block title %}Hello TeacherController!{% endblock %}

{% block body %}
{% block main %}


       <table class="table table-striped">
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Genre</th>
            <th>Classe</th>
           
        </tr>
        {% for studentInfo in student %}
        <tr>
            
         
            <td><a href="{{ path('student_grades', { 'id': studentInfo.id }) }}">{{ studentInfo.lastName |capitalize}} </a></td>
            <td><a href="{{ path('student_grades', { 'id': studentInfo.id }) }}">{{ studentInfo.firstName |capitalize}} </a></td>
            <td>{{ studentInfo.gender |capitalize}}</td>
            <td>{{ studentInfo.schoolClass.level }}</td>
        
        
                     
        </tr>
     
        {% endfor %}            
</div>


{% endblock%}
{% endblock %}
